body{
  width: 100%;
  padding: 0;
  margin-top: 80px;
  background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/VHLGKT9XBRWR1590014180460.jpg);
  background-size: cover;
}

.input{
  padding: 5px;
  outline: none;
  width: 90%;
  margin: 10px 0;
}

.button{
  width: 300px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px;
  margin-right: 5px;
}
.btn-blue{
  background-color:rgb(20, 65, 161);
  color: white;
  width: 260px;
}
.btn-normal{
  width: 260px;
  background-color:rgb(255, 255, 255);
  color: rgb(82, 82, 82);
}